.movies {
  display: grid;
  min-height: 100vh;
  max-width: 1280px;
  grid-template-rows: 70px 1fr 172px;
  margin: 0 auto;
}

.moviesBox {
  background-color: var(--background-default);
}

.moviesMore {
  display: flex;
  margin: auto;
  padding: 55px 50px 70px 75px;
}

.moviesMore-button {
  width: 320px;
  height: 36px;
  margin: auto;
  font: 500 12px/15px 'Inter', sans-serif;
  color: var(--text-default);
  background-color: var(--background-third);
  border: 0;
  border-radius: 6px;
}

@media screen and (max-width: 1279px) {
  .moviesMore {
    padding: 35px 30px 80px;
  }
}

@media screen and (max-width: 767px) {
  .movies {
    grid-template-rows: 74px 1fr 243px;
  }

  .moviesMore {
    padding: 50px 10px 80px;
  }

  .moviesMore-button {
    width: 240px;
  }
}
